/*============== 
general styles
=================*/

/* root variables */
:root {
  /* text */
  --text-dark: #000;
  --text-light: #fff;
  --text-grey: #adbdcc;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Anek Telugu", sans-serif;
  --h1-size: 94px;
  --h1-height: 108px;
  --h2-size: 50px;
  --h2-height: 75px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;
  --subtitle-size: 17px;
  --subtitle-height: 26px;
  --p-size: 18px;
  --p-height: 26px;
  --secondary-text-size: 14px;
  --secondary-text-height: 18px;
  --button-size: 16px;
  /* spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --standard-width: 1144px;

  /* colors */
  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #00d4ff;
  --primary-accent: #0a2540;
  --primary-button-hover: #6d7a88;
  --bg-white: #fff;
  --bg-light: #f7f9fc;

  --standard-border-radius: 20px;
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, .15);
  --primary-gradient: linear-gradient(101.33deg,
      #08209a 0.76%,
      #6563ff 33.33%,
      #36c5f0 76.92%,
      #83e2ff 96.96%);
}

/*============== 
for overflows in x directions 
=================*/
html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

/* general elements */
body {
  font-family: var(--body-font);
  color: var(--text-dark);
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
  background-color: var(--bg-white);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

/* headings */
h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h1-size);
  margin: 0;
  letter-spacing: -1px;
  width: 100%;
  line-height: var(--h1-height);
}

h2 {
  font-family: var(--heading-font);
  letter-spacing: -1px;
  font-weight: 600;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}

h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}

h4 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h4-size);
  margin: 0;
  width: 100%;
  letter-spacing: 0.25;
}

h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h5-size);
  margin: 0;
  width: 100%;
}

h6 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

/* links */
a {
  text-decoration: none;
  color: var(--purple-1);
  font-weight: 500;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--primary-accent);
}

/* text classes */
.subtitle,
.subtitle2 {
  color: var(--purple-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}

.subtitle2 {
  color: var(--blue-1);
}

p {
  font-size: var(--p-size);
  line-height: var(--p-height);
  font-weight: 400;
  margin: var(--spacing-md) 0;
}

/*============== 
layout
=================*/
.section-container {
  width: 100%;
  max-width: var(--standard-width);
}

/* main */
main {
  margin: var(--spacing-xl) 0 0 0;
  width: 100%;
}

/* columns */
.two-column {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
  box-sizing: border-box;
}

.two-column>.col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: start;
  -webkit-box-pack: center;
  justify-content: center;

}

.two-column>.col-right {
  width: 50%;
  padding: 0 0 0 var(--spacing-md);
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: start;
  -webkit-box-pack: center;
  justify-content: center;
}

.card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card .icon {
  height: 50px;
  margin: 0 0 var(--spacing-sm) 0;
}

.card h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-text-height);
  color: var(--text-grey);
  letter-spacing: .25px;
}

/* buttons */
.primary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: bold;
  border-radius: var(--standard-border-radius);
  background-color: var(--primary-accent);
  color: var(--text-light);
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.primary-button:hover {
  background-color: var(--primary-button-hover);
  cursor: pointer;
}

.secondary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: bold;
  background-color: transparent;
  border-radius: var(--standard-border-radius);
  color: var(--primary-accent);
  border: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.secondary-button:hover {
  opacity: .75;
  cursor: pointer;
}

.with-icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.with-icon>img {
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.with-icon:hover>img {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/*============== 
navbar
=================*/
.navbar {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: var(--standard-width);
  padding: 0 var(--spacing-md);
  margin: 0 0 var(--spacing-lg) 0;
  box-sizing: border-box;
}

.hamburger-button {
  display: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  width: 20%;
  max-width: 170px;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #222;
  opacity: .9;
  z-index: 4;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.sidebar-links {
  list-style-type: none;
  padding: var(--spacing-lg);
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.sidebar-links li {
  display: block;
  margin: var(--spacing-lg) 0;
}

.sidebar li a {
  color: var(--text-light);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  letter-spacing: 2px;
}

.sidebar li a:hover {
  text-decoration: underline;
  color: var(--purple-1);
}



.show-sidebar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
  color: rgba(231, 56, 56, 0.705);
}

.close-btn:hover {
  color: rgba(231, 56, 56, 0.986);
}


.menu {
  display: -webkit-box;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.menu a {
  color: var(--text-light);
  margin: 0 var(--spacing-md);
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.navbar-button {
  background: rgba(250, 250, 250, .25);
}

.navbar-button:hover {
  background: rgba(250, 250, 250, .5);
}

/*============== 
animated gradient
=================*/
#gradient-canvas {
  width: 200%;
  height: 970px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  position: absolute;
  top: -600px;
  left: -50%;
  z-index: -1;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
  /* clip-path: polygon(0 0, 100% 0, 100% 35%, 0 90%); */
}

/*============== 
hero
=================*/
.hero {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.button-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: var(--spacing-md) 0;
}

.button-container button:nth-of-type(2) {
  margin: 0 0 0 var(--spacing-md);
  color: var(--purple-2);
}

.hero p {
  max-width: 490px;
}

.hero .hero-phone-container {
  height: 564px;
  -webkit-box-align: end;
  align-items: flex-end;
}

.hero-phone {
  height: 628px;
  -webkit-transform: translate(32px, -32px);
  transform: translate(32px, -32px);
}

/*============== 
partner logos
=================*/
.partners-section {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: var(--spacing-xl) 0;
  gap: var(--spacing-lg) var(--spacing-md);
}

.partners-grid img {
  height: 60px;
  place-self: center;
}

/*============== 
unified grid
=================*/
.unified-platform-section {
  padding: var(--spacing-xl) 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--bg-light);
}

.unified-platform-section h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}

.unified-platform-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0;
}

.unified-platform-section .primary-button:hover {
  background-color: var(--primary-accent);
}

/*============== 
graphic grid
=================*/
.graphic-section {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--bg-light);
}

.graphic-grid {
  display: grid;
  grid-template-areas:
    "card slack slack"
    "phone slack slack"
    "phone dash dash"
  ;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg) 0;
}

#credit-card {
  grid-area: card;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
  border-radius: var(--standard-border-radius);
}

#slack-invoice {
  grid-area: slack;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
  border-radius: var(--standard-border-radius);
}

#phone {
  grid-area: phone;
  width: 100%;
  /* box-shadow: var(--standard-box-shadow); */
  /* border-radius: var(--standard-border-radius); */
}

#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
  border-radius: var(--standard-border-radius);
}

/*============== 
integration section
=================*/
.integration-section {
  color: var(--text-light);
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  padding: calc(var(--spacing-xl) * 3) 0;
  z-index: 1;
}

.integration-section::before {
  content: "";
  width: 100%;
  height: 1100px;
  background-color: var(--primary-accent);
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -1;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
}

.integration-section::after {
  content: "";
  position: absolute;
  background-color: var(--bg-light);
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  z-index: -2;
}

.integration-section .primary-button {
  background-color: var(--blue-1);
  color: var(--primary-accent);
  margin: var(--spacing-md) 0 0 0;
}

.integration-section .primary-button:hover {
  background-color: var(--bg-light);
}

.integration-section .card-container {
  display: -webkit-box;
  display: flex;
  margin: var(--spacing-lg) 0;
}

.integration-section .card-container .card {
  width: 50%;
}

.integration-section .secondary-button {
  color: var(--blue-1);
}

#api-code {
  max-width: 470px;
  margin: 0 0 var(--spacing-md) 0;
  border-radius: var(--standard-border-radius);
}

#terminal-code {
  border-radius: var(--standard-border-radius);
  max-width: 470px;
}

/*============== 
why swipe
=================*/
.why-swipe-section {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 3) 0;
}

.why-swipe-section .card-container {
  display: -webkit-box;
  display: flex;
  margin: var(--spacing-lg) 0;
}

.why-swipe-section .card-container .card {
  width: 25%;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
  box-sizing: border-box;
}

.why-swipe-section .card-container .card p {
  font-size: 14px;
}

/*============== 
global section
=================*/
.global-section {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  color: var(--text-light);
  position: relative;
  padding: calc(var(--spacing-xl) * 3) 0 0 0;
  position: relative;
}

.global-section::before {
  content: "";
  width: 100%;
  height: 1200px;
  background-color: var(--primary-accent);
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -1;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
}

.global-section a {
  color: var(--blue-1);
}

.global-section a:hover {
  color: var(--text-light);
}

.global-section .card-container {
  display: -webkit-box;
  display: flex;
  margin: calc(var(--spacing-xl) * 2) 0;
}

.global-section .card-container .card {
  width: 25%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.global-section .card-container .card h3 {
  border-left: 2px solid var(--blue-1);
  padding: 0 0 0 var(--spacing-sm);
  line-height: 28px;
}

#global-graphic {
  max-width: 844px;
  opacity: 25%;
  position: absolute;
  top: 10%;
}

/*============== 
virtual events section
=================*/
.virtual-event-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 2) 0;
  position: relative;
}

.virtual-event-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--bg-white);
  top: 0;
  z-index: -1;

}

.virtual-event-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0 0 0;
}

.virtual-event-section .primary-button:hover {
  background-color: var(--primary-accent);
}

.swipe-sessions-card {
  width: 540px;
  height: 446px;
  box-shadow: var(--standard-box-shadow);
  border-radius: var(--standard-border-radius);
  overflow: hidden;
}

.swipe-sessions-card .card-top {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.swipe-sessions-card .card-top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  top: -40%;
  left: 0;
  background: var(--primary-gradient);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  z-index: 1;
}

#session-img {
  z-index: 2;
  width: 338px;
}

.virtual-event-section .avatars {
  position: absolute;
  bottom: -70px;
  left: var(--spacing-xl);
  z-index: 3;
  /* width: 140px;
  height: 80px; */
}

.virtual-event-section .avatars img {
  width: 80px;
}

.virtual-event-section .avatars img:nth-of-type(2) {
  position: absolute;
  left: 55px;
}

.virtual-event-section .card-bottom {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: var(--spacing-xl);
}

.virtual-event-section .card-bottom {
  margin: var(--spacing-md) 0 0 0;
}

.virtual-event-section .card-bottom .secondary-text {
  color: var(--text-dark);
  width: 50%;
  font-weight: 700;
}

.virtual-event-section .col-left {
  height: 446px;
  padding: 0 var(--spacing-xl) 0 0;
}

/*============== 
get started section
=================*/
.get-started-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: var(--spacing-xl) 0;
}

.get-started-section .col-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.get-started-section .col-left {
  padding: 0 var(--spacing-xl) 0 0;
}

.get-started-section .col-right .card {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.get-started-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0;
}

.get-started-section .primary-button:hover {
  background-color: var(--primary-accent);
}

.get-started-section .col-right .card .secondary-button {
  color: var(--purple-2);
  padding-left: 0;
}

/*============== 
footer
=================*/
.footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--bg-light);
  padding: var(--spacing-xl) 0;
}

#footer-logo {
  max-width: 108px;
  margin: 0 0 var(--spacing-md) 0;
}

.footer .col {
  width: 25%;
}

.footer .section-container {
  display: -webkit-box;
  display: flex;
}

.footer .col ul {
  list-style: none;
  padding: 0;
}

.footer .col ul li {
  margin: var(--spacing-md) 0;
}

.footer .col a {
  color: var(--text-dark);
  font-weight: normal;

}

.footer .col a:hover {
  color: var(--purple-1);
  text-decoration: underline;
}

.footer .icon-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: var(--spacing-md) 0;
}

.footer .icon-link img {
  width: 24px;
  margin: 0 var(--spacing-sm) 0 0;
}

.footer h3 {
  font-size: var(--h6-size);
  font-weight: 700;
}


/*============== 
media queries
=================*/
@media screen and (max-width:1144px) {
  .section-container {
    padding: 0 var(--spacing-md);
  }

  :root {
    --h1-size: 80px;
    --h1-height: 85px;
  }

  .hero-phone {
    height: 550px;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  .hero .col-left {
    width: 60%;
  }

  .hero .col-right {
    width: 40%;
  }
}

/*============== 
custom
=================*/
@media screen and (max-width:850px) {
  .partners-grid img {
    width: 100%;
    height: auto;
  }

  .integration-section .col-left {
    width: 60%;
  }

  .integration-section .col-right {
    width: 40%;
  }

  :root {
    --h1-size: 70px;
    --h1-height: 75px;
  }

  .hero-phone {
    height: 550px;
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }

  /* why swipe section */
  .why-swipe-section {
    padding: calc(var(--spacing-xl)*2) 0;
  }

}

/*============== 
tabelet size
=================*/
@media screen and (max-width:768px) {
  :root {
    --h1-size: 58px;
    --h1-height: 65px;
    --h3-size: 34px;
    /* --h1-height: 108px;
    --h2-size: 50px;
    --h2-height: 75px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px; */
  }

  /* nav bar */
  .navbar {
    margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
  }

  .navbar .menu {
    display: none;
  }

  .navbar .navbar-button {
    display: none;
  }

  .hamburger-button {
    width: 50px;
    height: 30px;
    background-color: rgba(250, 250, 250, .25);
    border-radius: var(--standard-border-radius);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .hamburger-button .bar {
    width: 18px;
    height: 2px;
    background-color: var(--bg-white);
    margin: 1.5px 0;
    border-radius: var(--standard-border-radius);
  }

  /* hero section */
  .hero .col-left {
    width: 60%;
  }

  .hero .col-right {
    width: 40%;
  }

  .hero-phone {
    height: 450px;
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
  }

  .hero .two-column {
    -webkit-box-align: center;
    align-items: center;
  }

  main {
    margin: 0;
  }

  #gradient-canvas {
    height: 820px;
  }

  /* partners grid section */
  .partners-grid {
    margin: 0 0 var(--spacing-xl) 0;
  }

  /* unified platform section */
  .unified-platform-section h2 {
    width: 100%;
  }

  /* integration section */
  .integration-section .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .integration-section .card-container .card {
    width: 100%;
  }

  /* why swipe section */
  .why-swipe-section {
    padding: 0 0 var(--spacing-lg) 0;
  }

  .why-swipe-section .card-container {
    flex-wrap: wrap;
  }

  .why-swipe-section .card-container .card {
    width: 50%;
    margin: 0;
    margin: var(--spacing-md) 0;
  }

  /* global section */
  .global-section .card-container {
    flex-wrap: wrap;
    margin: var(--spacing-xl) 0;
  }

  .global-section .card-container .card {
    width: 50%;
    margin: var(--spacing-md) 0;
  }

  #global-graphic {
    opacity: 10%;
  }

  /* getting started section */
  .get-started-section .col-right {
    flex-wrap: wrap;
  }

  .get-started-section .col-right .card {
    width: 100%;
    margin: var(--spacing-md) 0;
  }

  .get-started-section .two-column {
    -webkit-box-align: center;
    align-items: center;
  }
}

/*============== 
mobile size
=================*/
@media screen and (max-width:576px) {

  /* nav bar section */
  .navbar {
    margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
  }

  /* hero section */
  main {
    margin: var(--spacing-lg) 0 0 0;
  }

  :root {
    --h1-size: 59px;
    --h1-height: 60px;
    --h3-size: 34px;
    /* --h1-height: 108px;
        --h2-size: 50px;
        --h2-height: 75px;
        --h3-size: 40px;
        --h4-size: 32px;
        --h5-size: 28px;
        --h6-size: 22px; */
  }

  .hero .two-column .hero-phone-container {
    display: none;
  }

  #gradient-canvas {
    height: 820px;
  }

  .partners-section .partners-grid {
    grid-template-columns: 1fr 1fr;
  }

  .two-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .two-column .col-left,
  .two-column .col-right {
    width: 100%;
    padding: 0;
  }

  /* unified platform section */
  .unified-platform-section {
    padding: var(--spacing-md) 0;
  }

  .unified-platform-section h2 {
    width: 100%;
  }

  /* integration section */
  .integration-section {
    padding: var(--spacing-lg) 0;
  }

  .integration-section::before {
    height: 900px;
  }

  .integration-section .two-column .col-right {
    display: none;
  }

  /* why swipe section */
  .why-swipe-section {
    padding: calc(var(--spacing-xl) * 1.8) 0 var(--spacing-md) 0;
  }

  .why-swipe-section .card-container .card {
    width: 100%;
    margin: var(--spacing-sm) 0;
  }

  .card .icon {
    height: 35px;
  }

  /* globle section */
  .global-section {
    padding: var(--spacing-xl) 0 0 0;
  }


  .global-section .card-container .card {
    width: 100%;
    margin: var(--spacing-sm) 0;
  }

  .global-section .card-container {
    margin: var(--spacing-lg) 0;
  }

  /* virtual events section */
  .virtual-event-section {
    padding: 0;
  }

  .virtual-event-section .swipe-sessions-card {
    width: 100%;
    height: 400px;
  }

  .virtual-event-section .swipe-sessions-card .card-top {
    height: 40%;
  }

  .virtual-event-section .swipe-sessions-card .secondary-text {
    width: 100%;
  }

  #session-img {
    width: 300px;
  }

  /* getting started section */
  .get-started-section {
    padding: var(--spacing-xl) 0;
  }

  /* footer section */
  .footer .section-container {
    flex-wrap: wrap;
  }

  .footer .section-container .col {
    width: 50%;
    margin: var(--spacing-md) 0;
  }

  .footer .col a {
    font-size: 12px;
  }

  #footer-logo {
    max-width: 64px;
  }

  .footer .col .icon-link img {
    width: 18px;
  }
}